@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Valorant";
  src: url("./assets/fonts/Valorant\ Font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "OPsans";
  src: url("./assets/fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Moon";
  src: url("./assets/fonts/MoonDance-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@layer base {
  body {
    @apply bg-[#151718] overflow-x-hidden;
  }
  .containerr {
    @apply w-[90%] my-0 mx-auto;
  }
  .section {
    @apply mt-16;
  }
}
